h1, h2{
    text-align: center;
}

img, select, input{
    display: block;
    margin: auto;
}

p{
    text-align: center;
}

div #es{
    text-align: center;
}

div #eras, #des{
    text-align: center;
}

div #eras #btn-styled{
    background-color: yellow;
}

div #es{
    display: none;
}



